option_settings:
  - option_name: AWS_ACCESS_KEY_ID
  value: AKIA4VM6CT4Y66MDLN7O
  - option_name: AWS_SECRET_ACCESS_KEY
  value: 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
  - option_name: COGNITO_POOL_ID
  value: us-east-2_osymnpN37
  - option_name: COGNITO_REGION
  value: us-east-2
  - option_name: DATABASE_URL
  value: postgresql://postgres:S7z21v6gLCvA@34.67.14.178:5432/postgres?schema=public
  - option_name: DOPPLER_ENCLAVE_CONFIG
  value: prd
  - option_name: DOPPLER_ENCLAVE_ENVIRONMENT
  value: prd
  - option_name: DOPPLER_ENCLAVE_PROJECT
  value: swccgdb
  - option_name: JWT_SECRET
  value: BjUUENHehV0s2s2QfeuUvcMHC137LK9X
  - option_name: TEST
  value: woohoo
